
<div class="login-form-block">
    <hgroup>
      <h1 style="font-size: 2em;">Sign Up</h1>
      <br>
      <h3><%= link_to 'Back to main page', root_path %></h3>
    </hgroup>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
      <div class="group">
        <%= f.input :first_name, label: false, placeholder: 'First name' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <%= f.input :last_name, label: false, placeholder: 'Last name' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <%= f.input :email, label: false, placeholder: 'Email' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <%= f.input :country, label: false, placeholder: 'Country' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <%= f.input :city, label: false, placeholder: 'City' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <%= f.input :phone_number, label: false, placeholder: 'Phone number' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <%= f.input :password, label: false, placeholder: 'Password' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <%= f.input :password_confirmation, label: false, placeholder: 'Password confirmation' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <%= f.button :submit, 'Sign Up', class: 'button buttonBlue' do %>
        <div class="ripples buttonRipples" style="cursor: pointer;"><span class="ripplesCircle"></span></div>
      <% end %>
        <br>
        <h3><%= link_to "Already have an account? Log In", new_customer_session_path %></h3>
    <% end %>
</div>
