<header class="cd-main-header">
    <a href="#0" class="cd-logo">
        <%= image_tag('cd-logo.svg', alt: 'Logo') %>
    </a>

<%= react_component 'SearchFieldComponent', @customer_dashboard_props,
                   generator_function: true,
                   prerender: false %>
<!--     <div class="cd-search">
        <form action="#0">
            <input type="search" placeholder="Search...">
        </form>
    </div> --> <!-- cd-search -->


    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

    <nav class="cd-nav">
        <ul class="cd-top-nav">
            <li><a href="#0">Tour</a></li>
            <li><a href="#0">Support</a></li>
            <li class="has-children account">
                <a href="#0">
                    <%= gravatar_tag(current_customer, size: 20, secure: true) %>
                    Account
                </a>

                <ul>

                    <li><a href="#0">My Account</a></li>
                    <li><a href="#0">Edit Account</a></li>
                    <li><%= link_to 'Logout', destroy_customer_session_path, method: :delete %></li>
                </ul>
            </li>
        </ul>
    </nav>
</header> <!-- .cd-main-header -->

<%= react_component 'CustomerDashboardApp', @customer_dashboard_props,
                   generator_function: true,
                   prerender: false %>