<div class="login-form-block">
    <hgroup>
      <h1 style="font-size: 2em;">Log in to Discounty</h1>
      <br>
      <h3><%= link_to 'Back to main page', root_path %></h3>
    </hgroup>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="group">
        <%= f.input :email, label: false, placeholder: 'Email' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <div class="group">
        <%= f.input :password, label: false, placeholder: 'Password' %>
        <span class="highlight"></span><span class="bar"></span>
      </div>
      <%= f.button :submit, 'Log in', class: 'button buttonBlue' do %>
        <div class="ripples buttonRipples" style="cursor: pointer;"><span class="ripplesCircle"></span></div>
      <% end %>
    <% end %>
</div>
